<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div class="widget-jenkins_job widget container">
        <br />
        <h1>FANCLUB</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <!--<h1>CLIENT CANVAS</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <h1>SEVAN</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <h1>ECOSYSTEM</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>-->
      </div>
    </li>

    <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div class="widget-jenkins_job widget container">
        <br />
        <h1>FANCLUB</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <h1>CLIENT CANVAS</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <h1>SEVAN</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <br />
        <h1>ECOSYSTEM</h1>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
        <div class="widget-jenkins_job item">
          <div data-id="build" data-view="JenkinsJob" data-bind-class="result | append additionalclass" data-additionalclass=" widget"></div>
        </div>
      </div>
    </li>-->

  </ul>
</div>
<%- contentFor('title') %>
  Jenkins Deploy Dashboard